.moodButton {
  height: 120px;
  width: 120px;
  border: none;
  border-radius: 60px;
  box-shadow: 5px 5px rgba(120, 124, 124, 0.5);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 500;
}

.moodButton:hover {
  height: 140px;
  width: 140px;
  border-radius: 70px;
}
