.saveButton {
  height: 40px;
  width: 180px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(to right, #12be99, #02886b);
  color: aliceblue;
}

.saveButton:hover {
  background: linear-gradient(to right, #02886b, #12be99);
}

.saveMoodContainer {
  width: 80%;
  height: 460px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #02886b;
  border-radius: 20px;
  padding: 10px;
}
