body {
  margin: 0px;
  padding: 0px;
}
.history {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emptyButton {
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(to right, #830101, #eb6060);
  color: aliceblue;
  font-size: 1em;
}

.emptyButton:hover {
  background: linear-gradient(to right, #eb6060, #830101);
}

.AppContainer {
  width: 100%;

  display: flex;
  justify-content: space-around;
}
