body {
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.history {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.emptyButton {
  height: 40px;
  width: 180px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(to right, #830101, #eb6060);
  color: aliceblue;
}

.emptyButton:hover {
  background: linear-gradient(to right, #eb6060, #830101);
}

.AppContainer {
  margin-top: 90px;
  display: flex;
  justify-content: space-around;
  padding: 10px 20px;
}
