.moodButton {
  height: 80px;
  width: 80px;
  border: none;
  border-radius: 40px;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
}

.moodButton:hover {
  height: 110px;
  width: 110px;
  border-radius: 55px;
}
