.saveButton {
  height: 40px;
  width: 180px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(to right, #82d66d, #24b101);
  font-size: 1.1em;
  color: aliceblue;
}

.saveButton:hover {
  background: linear-gradient(to right, #24b101, #82d66d);
}

.saveMoodContainer {
  width: 80%;
  height: 460px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #8ee2d0;
  border-radius: 20px;
  padding: 10px;
}
